.header {
    padding: 5px 20px;
    background: rgb(142, 163, 223);
}

.title {
    color: aliceblue;
    text-decoration: none;
}

.menu-buttons {
    margin-top: 10px;
}

.login,.logout,.register,.new-post {
    float:right;
    margin-right:10px;
}
.dialog{
    position:fixed;
    top:40%;
    right:60%;
    z-index: 1;
}
dialog {
    background-color: rgba(32, 82, 221, 0.5);
    color: white;
    border-color: transparent;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 150px;
    width: 300px;
 }
 .txtDialog{
    text-align: center;
 }
 .btnDialog{
    width: 100px;
    margin:20px;
 }
 